<settings>
    <!-- Garmin Connect / sim settings UI (the only config surface; no native editor).
         Values map 1:1 to applyProperties. Uniform value conventions:
           -1 = Default (in-code default)      -2 = None / Off (hide / disable)
         Colours = 0xRRGGBB hex; tz = TZ_* index; complication slots use
         1-19 for a Complications type and 100+ for a special field mode (these must
         match the MODE_* constants in AnalogView.mc):
           100 MODE_PERSIAN (E,S) · 101 MODE_TEXT (N) · 102 MODE_WEATHER (N,S)
           103 MODE_DATEWD (E)    · 104 MODE_STEPSHR (W) -->

    <setting propertyKey="@Properties.accentColor" title="@Strings.setAccent" prompt="@Strings.prAccent">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="0xFFAA00">@Strings.colAmber</listEntry>
            <listEntry value="0xFFFFFF">@Strings.colWhite</listEntry>
            <listEntry value="0xFF3030">@Strings.colRed</listEntry>
            <listEntry value="0xFF6600">@Strings.colOrange</listEntry>
            <listEntry value="0xFFDD00">@Strings.colYellow</listEntry>
            <listEntry value="0x33CC33">@Strings.colGreen</listEntry>
            <listEntry value="0x00DDFF">@Strings.colCyan</listEntry>
            <listEntry value="0x3399FF">@Strings.colBlue</listEntry>
            <listEntry value="0xBB66FF">@Strings.colPurple</listEntry>
            <listEntry value="0xFF55AA">@Strings.colPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.dataColor" title="@Strings.setDataColor" prompt="@Strings.prData">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colLtGray</listEntry>
            <listEntry value="0xCCCCCC">@Strings.colSilver</listEntry>
            <listEntry value="0xFFFFFF">@Strings.colWhite</listEntry>
            <listEntry value="0x777777">@Strings.colDkGray</listEntry>
            <listEntry value="0xFFAA00">@Strings.colAmber</listEntry>
            <listEntry value="0x00DDFF">@Strings.colCyan</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.moonArcColor" title="@Strings.setMoonArc" prompt="@Strings.prMoonArc">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="0x777777">@Strings.colDkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colLtGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.colWhite</listEntry>
            <listEntry value="0xFFAA00">@Strings.colAmber</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.moonImage" title="@Strings.setMoonImage" prompt="@Strings.prMoonImage">
        <settingConfig type="list">
            <listEntry value="0">@Strings.optMoon</listEntry>
            <listEntry value="1">@Strings.optCat</listEntry>
            <listEntry value="2">@Strings.optFox</listEntry>
            <listEntry value="3">@Strings.optPolarbear</listEntry>
            <listEntry value="4">@Strings.optSeal</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.text" title="@Strings.setText" prompt="@Strings.prText">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.skipLabels" title="@Strings.setSkipLabels" prompt="@Strings.prSkipLabels">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.secTickColor" title="@Strings.setSecTicks" prompt="@Strings.prSecTicks">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="0xFFFFFF">@Strings.colWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colLtGray</listEntry>
            <listEntry value="0x777777">@Strings.colDkGray</listEntry>
            <listEntry value="0xFFAA00">@Strings.colAmber</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.radialGradient" title="@Strings.setRadialGradient" prompt="@Strings.prRadial">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.smallValuesN" title="@Strings.setSmallValuesN" prompt="@Strings.prSmall">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.smallValuesS" title="@Strings.setSmallValuesS" prompt="@Strings.prSmall">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.smallValuesE" title="@Strings.setSmallValuesE" prompt="@Strings.prSmall">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.smallValuesW" title="@Strings.setSmallValuesW" prompt="@Strings.prSmall">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.metalHands" title="@Strings.setMetalHands" prompt="@Strings.prMetal">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.nsMarkers" title="@Strings.setNsMarkers" prompt="@Strings.prNsMarkers">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.tz" title="@Strings.setTz" prompt="@Strings.prTz">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="0">@Strings.tzUTC</listEntry>
            <listEntry value="1">@Strings.tzLondon</listEntry>
            <listEntry value="2">@Strings.tzStockholm</listEntry>
            <listEntry value="3">@Strings.tzTehran</listEntry>
            <listEntry value="4">@Strings.tzDubai</listEntry>
            <listEntry value="5">@Strings.tzIndia</listEntry>
            <listEntry value="6">@Strings.tzTokyo</listEntry>
            <listEntry value="7">@Strings.tzSydney</listEntry>
            <listEntry value="8">@Strings.tzNewYork</listEntry>
            <listEntry value="9">@Strings.tzLosAngeles</listEntry>
            <listEntry value="10">@Strings.tzChicago</listEntry>
            <listEntry value="11">@Strings.tzSaoPaulo</listEntry>
            <listEntry value="12">@Strings.tzMoscow</listEntry>
            <listEntry value="13">@Strings.tzShanghai</listEntry>
            <listEntry value="14">@Strings.tzBangkok</listEntry>
            <listEntry value="15">@Strings.tzAuckland</listEntry>
            <listEntry value="16">@Strings.tzHonolulu</listEntry>
            <listEntry value="17">@Strings.tzPagoPago</listEntry>
            <listEntry value="18">@Strings.tzAnchorage</listEntry>
            <listEntry value="19">@Strings.tzDenver</listEntry>
            <listEntry value="20">@Strings.tzHalifax</listEntry>
            <listEntry value="21">@Strings.tzAzores</listEntry>
            <listEntry value="22">@Strings.tzAthens</listEntry>
            <listEntry value="23">@Strings.tzKarachi</listEntry>
            <listEntry value="24">@Strings.tzDhaka</listEntry>
            <listEntry value="25">@Strings.tzAdelaide</listEntry>
            <listEntry value="26">@Strings.tzNoumea</listEntry>
            <listEntry value="27">@Strings.tzCET</listEntry>
            <listEntry value="28">@Strings.tzUSEast</listEntry>
            <listEntry value="29">@Strings.tzUSCentral</listEntry>
            <listEntry value="30">@Strings.tzUSMountain</listEntry>
            <listEntry value="31">@Strings.tzUSPacific</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.compSE" title="@Strings.setCompSE" prompt="@Strings.prCompSE">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="9">@Strings.cFloors</listEntry>
            <listEntry value="12">@Strings.cAltitude</listEntry>
            <listEntry value="13">@Strings.cPressure</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.compNE" title="@Strings.setCompNE" prompt="@Strings.prCompNE">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="8">@Strings.cIntensity</listEntry>
            <listEntry value="3">@Strings.cCalories</listEntry>
            <listEntry value="4">@Strings.cBodyBat</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.compN" title="@Strings.setCompN" prompt="@Strings.prCompN">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="101">@Strings.optText</listEntry>
            <listEntry value="102">@Strings.optWeather</listEntry>
            <listEntry value="1">@Strings.cHR</listEntry>
            <listEntry value="2">@Strings.cSteps</listEntry>
            <listEntry value="3">@Strings.cCalories</listEntry>
            <listEntry value="4">@Strings.cBodyBat</listEntry>
            <listEntry value="5">@Strings.cStress</listEntry>
            <listEntry value="6">@Strings.cPulseOx</listEntry>
            <listEntry value="7">@Strings.cResp</listEntry>
            <listEntry value="8">@Strings.cIntensity</listEntry>
            <listEntry value="9">@Strings.cFloors</listEntry>
            <listEntry value="10">@Strings.cRun</listEntry>
            <listEntry value="11">@Strings.cBike</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.compS" title="@Strings.setCompS" prompt="@Strings.prCompS">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="100">@Strings.optPersian</listEntry>
            <listEntry value="102">@Strings.optWeather</listEntry>
            <listEntry value="1">@Strings.cHR</listEntry>
            <listEntry value="2">@Strings.cSteps</listEntry>
            <listEntry value="3">@Strings.cCalories</listEntry>
            <listEntry value="4">@Strings.cBodyBat</listEntry>
            <listEntry value="5">@Strings.cStress</listEntry>
            <listEntry value="6">@Strings.cPulseOx</listEntry>
            <listEntry value="7">@Strings.cResp</listEntry>
            <listEntry value="8">@Strings.cIntensity</listEntry>
            <listEntry value="9">@Strings.cFloors</listEntry>
            <listEntry value="10">@Strings.cRun</listEntry>
            <listEntry value="11">@Strings.cBike</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.compNW" title="@Strings.setCompNW" prompt="@Strings.prCompNW">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optDefault</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="15">@Strings.cSunset</listEntry>
            <listEntry value="14">@Strings.cSunrise</listEntry>
            <listEntry value="16">@Strings.cDate</listEntry>
            <listEntry value="17">@Strings.cWeekday</listEntry>
            <listEntry value="18">@Strings.cCalendar</listEntry>
            <listEntry value="19">@Strings.cBattery</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.compW" title="@Strings.setCompW" prompt="@Strings.prCompW">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optWeather</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="104">@Strings.optStepsHr</listEntry>
            <listEntry value="2">@Strings.cSteps</listEntry>
            <listEntry value="4">@Strings.cBodyBat</listEntry>
            <listEntry value="19">@Strings.cBattery</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.compE" title="@Strings.setCompE" prompt="@Strings.prCompE">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.optTime</listEntry>
            <listEntry value="-2">@Strings.optNone</listEntry>
            <listEntry value="100">@Strings.optPersian</listEntry>
            <listEntry value="103">@Strings.optDateWeekday</listEntry>
            <listEntry value="16">@Strings.cDate</listEntry>
            <listEntry value="1">@Strings.cHR</listEntry>
            <listEntry value="19">@Strings.cBattery</listEntry>
        </settingConfig>
    </setting>
</settings>
